extends /layout/base.pug

append title
  title Ncku A9

append css
  +css( 'home/index' )

append header
  include /common/component/header.pug
  +header()

append content
  main.content
    section.header
      h1.header__title 課堂時段選取
    include /common/home/content.pug
    +content()

append js
  +js( 'home/index' )
  script(src='https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.32.4/sweetalert2.all.js')
