mixin table()
  -
    const time = Object.freeze( {
      '1': '一',
      '2': '二',
      '3': '三',
      '4': '四',
      '5': '',
      '6': '五',
      '7': '六',
      '8': '七',
      '9': '八',
      '10': '九',
    } )
  table.table
    - let i = 0
    tr.table__row.row
      th.row__element.row__element--time
      th.row__element.row__element--day MON
      th.row__element.row__element--day TUE
      th.row__element.row__element--day WED
      th.row__element.row__element--day THU
      th.row__element.row__element--day FRI
    while i++ < 10
      tr.table__row.row
        if i == 5
          td.row__element.row__element--time(value = 'N')= time[i]
          td.row__element.row__element--course.row__element--sun(header = '1')
          td.row__element.row__element--course.row__element--sun
          td.row__element.row__element--course.row__element--sun
          td.row__element.row__element--course.row__element--sun
          td.row__element.row__element--course.row__element--sun
        else if i == 10
          td.row__element.row__element--time(value = i-1)= time[i]
          td.row__element.row__element--course.row__element--moon(header = '1')
          td.row__element.row__element--course.row__element--moon
          td.row__element.row__element--course.row__element--moon
          td.row__element.row__element--course.row__element--moon
          td.row__element.row__element--course.row__element--moon
        else if i > 5
          td.row__element.row__element--time(value = i-1)= time[i]
          td.row__element.row__element--course(header = '1')
          td.row__element.row__element--course
          td.row__element.row__element--course
          td.row__element.row__element--course
          td.row__element.row__element--course
        else
          td.row__element.row__element--time(value = i)= time[i]
          td.row__element.row__element--course(header = '1')
          td.row__element.row__element--course
          td.row__element.row__element--course
          td.row__element.row__element--course
          td.row__element.row__element--course

mixin content()
  +table()
  section.checkbox
    button#checkbox.checkbox__all 一鍵全選
    button#submit.checkbox__submit(name = 'submit', value = 'submit') 送出
