@import 'common/reset.scss';
@import 'common/header.scss';

body {
  background-color: #424556;
  font-family: TIMEs NEW roman;
  @include header();
  > .content {
    display: grid;
    grid-template: {
      areas:
      '. header  .'
      '. content .'
      '. check   .';
      columns: 1fr 99% 1fr;
    }
    @media screen and (min-width: 960px) {
      grid-template-columns: 1fr 60% 1fr;
    }
    > .header {
      display: flex;
      grid-area: header;
      justify-content: center;
      margin-top: 1rem;
      width: 100%;
      height: max-content;
      > .header__title {
        color: #ffffff;
        font: {
          size: 2rem;
          weight: unset;
        }
      }
    }
    > .table {
      table-layout: fixed;
      width: 100%;
      grid-area: content;
      font-size: 1.1rem;
      text-align: center;
      border-collapse: collapse;
      color: #ffffff;
      border-collapse: separate;
      border-spacing: .4rem 1.5rem;
      @media screen and (min-width: 960px) {
        border-spacing: 2rem 1rem;
        font-size: 1.5rem;
      }
      tbody {
        width: 100%;
        > .table__row.row {
          width: 100%;
          > .row__element {
            border: 3px solid #ffffff;
            border-radius: .5rem;
            height: 3.5rem;
            &.row__element--day {
              border: none;
              font-weight: unset;
            }
            &.row__element--time {
              width: 10%;
              border: none;
            }
            &.row__element--course {
              cursor: pointer;
            }
            &.row__element--sun {
              background: {
                image: url(../../img/sun.png);
                position: center -24px;
                size: 2rem;
                repeat: no-repeat;
              }
              @media screen and (min-width: 960px) {
                position: center -36px;
                size: 2.5rem;
              }
            }
            &.row__element--moon {
              background: {
                image: url(../../img/moon.png);
                position: center -24px;
                size: 2rem;
                repeat: no-repeat;
              }
              @media screen and (min-width: 960px) {
                position: center -36px;
                size: 2.5rem;
              }
            }
            &.row__element--active {
              background: {
                color: #ffffff;
                position: center 5px;
              }
            }
          }
        }
      }
    }
    > .checkbox {
      display: flex;
      grid: {
        area: check;
        template-columns: repeat(auto-fit, 13rem);
      }
      justify-self: center;
      align-self: center;
      > .checkbox__all {
        margin-top: 1rem;
        padding: 0px;
        justify: {
          self: center;
          content: center;
        }
        cursor: pointer;
        padding: 12px 24px;
        background-color: unset;
        border: 3px solid #ffffff;
        border-radius: .4rem;
        color: #ffffff;
        text-decoration: none;
        width: 8rem;
        height: max-content;
        font-size: 1rem;
        @media screen and (min-width: 960px) {
          width: 16rem;
          font-size: 1.5rem;
        }
        &:hover {
          background-color: #999999;
        }
        &:active {
          background: #444444;
        }
      }
      > .checkbox__submit {
        margin: {
          top: 1rem;
          left: 1rem;
        }
        padding: 0px;
        justify: {
          self: center;
          content: center;
        }
        cursor: pointer;
        padding: 12px 24px;
        background-color: unset;
        border: 3px solid #ffffff;
        border-radius: .4rem;
        color: #ffffff;
        text-decoration: none;
        width: 6rem;
        height: max-content;
        font-size: 1rem;
        @media screen and (min-width: 960px) {
          width: 8rem;
          font-size: 1.5rem;
        }
        &:hover {
          background-color: #999999;
        }
        &:active {
          background: #444444;
        }
      }
    }
  }
}